In [66]:
import pandas as pd
import json
import os

In [67]:
model = "Llama-2-13b-chat-hf"

In [68]:
directory = f"../../analysis_metrics/regional_alignment/{model}"

if not os.path.exists(directory):
    os.makedirs(directory)

In [69]:
with open("country2region.json", mode="r") as f:
  country2group = json.load(f)

df = pd.read_csv(f"../../analysis_metrics/alignment/alignment_{model}.csv")
df.head()

    Country Prompt       Section  Alignment
0   Romania    pt1  AllQuestions   0.660861
1    Russia    pt1  AllQuestions   0.652217
2  Thailand    pt1  AllQuestions   0.628132
3     Japan    pt1  AllQuestions   0.657447
4   Unknown    pt1  AllQuestions   0.604821

In [70]:
df['Region'] = df['Country'].apply(lambda x: country2group[x])
df = df[["Region", "Section", "Alignment"]]
df.head()

    Region       Section  Alignment
0   Europe  AllQuestions   0.660861
1   Russia  AllQuestions   0.652217
2     Asia  AllQuestions   0.628132
3     Asia  AllQuestions   0.657447
4  Unknown  AllQuestions   0.604821

In [71]:
regional_alignment_df = df.groupby(['Region', 'Section']).mean().reset_index()
regional_alignment_df.head()

   Region Section  Alignment
0  Africa       1   0.608425
1  Africa       2   0.723759
2  Africa       3   0.575224
3  Africa       4   0.697041
4  Africa       5   0.691410

In [72]:
regional_alignment_df[regional_alignment_df["Region"] == "North America"].to_csv(f"../../analysis_metrics/regional_alignment/{model}/north_america.csv")

In [73]:
regional_alignment_df[regional_alignment_df["Region"] == "South America"].to_csv(f"../../analysis_metrics/regional_alignment/{model}/south_america.csv")

In [74]:
regional_alignment_df[regional_alignment_df["Region"] == "Africa"].to_csv(f"../../analysis_metrics/regional_alignment/{model}/africa.csv")

In [75]:
regional_alignment_df[regional_alignment_df["Region"] == "Europe"].to_csv(f"../../analysis_metrics/regional_alignment/{model}/europe.csv")

In [76]:
regional_alignment_df[regional_alignment_df["Region"] == "Asia"].to_csv(f"../../analysis_metrics/regional_alignment/{model}/asia.csv")

In [77]:
regional_alignment_df[regional_alignment_df["Region"] == "Russia"].to_csv(f"../../analysis_metrics/regional_alignment/{model}/russia.csv")

In [78]:
regional_alignment_df[regional_alignment_df["Region"] == "Oceania"].to_csv(f"../../analysis_metrics/regional_alignment/{model}/oceania.csv")