In [52]:
import pandas as pd
import json

In [53]:
with open("country2region.json", mode="r") as f:
  country2group = json.load(f)

df = pd.read_csv("../../analysis_metrics/alignment/alignment_Llama-2-13b-chat-hf.csv")
df.head()

    Country Prompt  Section  Alignment
0   Romania    pt1  Overall   0.718914
1    Russia    pt1  Overall   0.718931
2  Thailand    pt1  Overall   0.723746
3     Japan    pt1  Overall   0.747224
4   Unknown    pt1  Overall   0.682376

In [54]:
df['Region'] = df['Country'].apply(lambda x: country2group[x])
df = df[["Region", "Section", "Alignment"]]
df.head()

    Region  Section  Alignment
0   Europe  Overall   0.718914
1   Russia  Overall   0.718931
2     Asia  Overall   0.723746
3     Asia  Overall   0.747224
4  Unknown  Overall   0.682376

In [55]:
regional_alignment_df = df.groupby(['Region', 'Section']).mean().reset_index()
regional_alignment_df.head()

   Region Section  Alignment
0  Africa       1   0.635017
1  Africa       2   0.745939
2  Africa       3   0.670809
3  Africa       4   0.769699
4  Africa       5   0.784669

In [66]:
regional_alignment_df[regional_alignment_df["Region"] == "North America"].to_csv("../../analysis_metrics/regional_alignment/north_america.csv")

In [61]:
regional_alignment_df[regional_alignment_df["Region"] == "South America"].to_csv("../../analysis_metrics/regional_alignment/south_america.csv")

           Region  Section  Alignment
54  South America        1   0.745416
55  South America        2   0.747785
56  South America        3   0.669395
57  South America        4   0.805250
58  South America        5   0.793067
59  South America        6   0.631460
60  South America        7   0.702655
61  South America        8   0.715021
62  South America  Overall   0.712247

In [60]:
regional_alignment_df[regional_alignment_df["Region"] == "Africa"].to_csv("../../analysis_metrics/regional_alignment/africa.csv")

   Region  Section  Alignment
0  Africa        1   0.635017
1  Africa        2   0.745939
2  Africa        3   0.670809
3  Africa        4   0.769699
4  Africa        5   0.784669
5  Africa        6   0.607199
6  Africa        7   0.695895
7  Africa        8   0.683214
8  Africa  Overall   0.680346

In [62]:
regional_alignment_df[regional_alignment_df["Region"] == "Europe"].to_csv("../../analysis_metrics/regional_alignment/europe.csv")

    Region  Section  Alignment
18  Europe        1   0.742705
19  Europe        2   0.730112
20  Europe        3   0.682462
21  Europe        4   0.826892
22  Europe        5   0.787625
23  Europe        6   0.659374
24  Europe        7   0.722559
25  Europe        8   0.734283
26  Europe  Overall   0.725015

In [63]:
regional_alignment_df[regional_alignment_df["Region"] == "Asia"].to_csv("../../analysis_metrics/regional_alignment/asia.csv")

   Region  Section  Alignment
9    Asia        1   0.645840
10   Asia        2   0.741309
11   Asia        3   0.662958
12   Asia        4   0.796178
13   Asia        5   0.781949
14   Asia        6   0.620595
15   Asia        7   0.709832
16   Asia        8   0.704220
17   Asia  Overall   0.691459

In [64]:
regional_alignment_df[regional_alignment_df["Region"] == "Russia"].to_csv("../../analysis_metrics/regional_alignment/russia.csv")

    Region  Section  Alignment
45  Russia        1   0.684941
46  Russia        2   0.747862
47  Russia        3   0.662211
48  Russia        4   0.800260
49  Russia        5   0.800734
50  Russia        6   0.605497
51  Russia        7   0.725366
52  Russia        8   0.716093
53  Russia  Overall   0.703668

In [65]:
regional_alignment_df[regional_alignment_df["Region"] == "Oceania"].to_csv("../../analysis_metrics/regional_alignment/oceania.csv")

     Region  Section  Alignment
36  Oceania        1   0.792466
37  Oceania        2   0.718761
38  Oceania        3   0.708417
39  Oceania        4   0.845369
40  Oceania        5   0.759030
41  Oceania        6   0.731973
42  Oceania        7   0.720637
43  Oceania        8   0.742477
44  Oceania  Overall   0.742580